
/*
font-family: 'Acme', sans-serif;
font-family: 'Noto Sans HK', sans-serif;
font-family: 'Roboto', sans-serif;
*/

/*
121F39
1E0A86
3A4A3A
*/

*{
      box-sizing: border-box;
}
input[type=text]{
      display: inline-block;
}